# Secrets
.env
.env.*
*.key

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/

# Virtual env
venv/
.venv/
env/
ENV/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
